/* This is a comment */

/* General Syntax for a class */
.class {
    attribute: value;
}

/* General Syntax for an ID */
#id {
    attribute: value;
}

/* ==== MAKE BIG SECTIONS FOR DIFFERENT STYLING AREAS === */

/* How to import a font from .otf */
@font-face {
    font-family: my-font-name; /* Name of font (you define this) */
    src: url(../fonts/coolvetica\ rg.otf); /* Path to file */
}

/* How to import a font from Google Fonts (google gives this to you) */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* ========= Examples of CSS Selectors ========= */

/* Tags - All <p> will have red text */
p {
    color: red;
}

/* All elements with this class... */
.red-text {
    color: red;
}

/* All elements with this ID... */
#red-text {
    color: red;
}

/* All <p> with this class... */
p.red-text {
    color: red;
}

/* All elements with with these two classes... */
.blue-text.red-text {
    color: red;
}

/* Everything will... */
* {
    color: red;
}

/* All of these wills... */
class, class, class {
    color: red;
}

/* All <p> inside <div>... */
p div {
    color: red;
}

/* All <p> that are children
   of <div>... */
div > p {
    color: red;
}

/* All <p> that are siblings
   with <div>... */
   div + p {
    color: red;
}

/* All <p> that are the next sibling
   of <div>... */
   div ~ p {
    color: red;
}

/* When user hovers over <a>... */
   a:hover {
    color: red;
}

/* When user clicks on <a>... */
a:active {
    color: red;
}

/* All forms with input="name"... */
form[input="name"] {
    color: red;
}